<!DOCTYPE html>
<html>
{{> head }}
<body>
 {{> nav }}
 <form action="/createresult" method="POST">
    Date and Time:<br>
    <input type="date" name="Date"><input type = "time" name = "Time">
    <br>
    Purpose:<br>
    <input type="text" name="purpose" value="Lunch">
    <br><br>
    <input type="submit" value="Submit">
  </form> 
 {{> bootstrap-from-cdn-body }}
</body>
</html>
