<!DOCTYPE html>
<html>
{{> head }}
<body>
 {{> nav }}
 <p>
        {{Massage}}
        The date is {{date}}, at {{time}}.
     The purpose is {{purpose}}.
     You can also invite your friends to join this alarm using this key :{{key}}.
     Good luck.
    </p>
 {{> bootstrap-from-cdn-body }}
</body>
</html>
